
/* 헤더 */
/* 네비게이션 */

/* 메인 */
.page_title{
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: royalblue;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 80px;    /* 텍스트칸 높이 정렬*/
}
#info_box{
    width: 700px;
    height: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px royalblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#info_table{
    margin-bottom: 30px;
}
.row{
    height: 40px;
}
.c1{
    width: 70px;
}
.input{
    font-size: 1rem;
    font-weight: 700;
    width: 180px;
    height: 35px;
    border-radius: 10px;
}
td{
    font-size: 1.2rem;
    font-weight: 900;
}
.updateBtn{
    width: 35%;
    height: 45px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: royalblue;
    border-radius: 10px;
    margin-top: 20px;
}




