body{
    margin: 0; 
    /* 페이지 전체 좌우여백제거 */
}
/* 헤더 */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: royalblue solid 4px;
    height: 100px;
    align-items: center;
}
h1{
    color: royalblue;
    font-size: 40px;
    margin-left: 50px;

}
h1:hover{
    cursor: pointer;
}
#current_date{
    position: relative;
    right: 50px;
    font-weight: 600;
    font-size: 40px;
    color: royalblue;
}
#icon_menu{
    width: 100%;
    height: 100%;
}
#btn_menu{
    margin-right: 50px;
    width: 60px;
    height: 50px;
    background-color: white;
    /* border: 0; */
}
#btn_menu:active{
    transform: translate(1px,1px);
}

/* 네비게이션 */
nav{
    right:-304px;
    /* right:0px; */
    position: absolute;
    border: black solid 2px;
    width: 300px;
    height: 800px;
    background-color: white;
    transition: all 0.5s ease;
}
.property{
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    /* border: black solid 2px; */
}
.row{
    height: 35px;
}
.c1{
    width: 80px;
}
.c2{
    width: 200px;
}
.user_info{
    display: inline-block;
    width: 50px;
    border: black solid 2px;
}
#nav_header{
    width: 100%;
    height: 70px;
    padding-left: 10px;
    background-color: royalblue;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.nav_section{
    height: 50px;
    padding-left: 10px;
    background-color: royalblue;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
}
#nav_info{
    padding: 25px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}
#btn_update{
    width: 200px;
    height: 40px;
    background-color: royalblue;
    border-radius: 10px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 0.9rem;
}
#team_member{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.member{
    font-size: 1.2rem;
    font-weight: 500;
}

/* 메인 */
#main_title{
    width: 100%;
    height: 80px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: royalblue;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 80px;    /* 텍스트칸 높이 정렬*/
}
#info_box{
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px blue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#info_table{
    margin-bottom: 30px;
}
.row{
    height: 40px;
}
.c1{
    width: 70px;
}
.input{
    font-size: 1rem;
    font-weight: 700;
    width: 180px;
    height: 35px;
    border-radius: 10px;
}
td{
    font-size: 1.2rem;
    font-weight: 900;
}
#updateBtn{
    width: 250px;
    height: 45px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: royalblue;
    border-radius: 10px;
}




