#container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
#title{
    font-size: 60px;
    font-weight:bolder;
    color: royalblue;
    margin: 30px;
}
/* 자식태그에게는 %쓰기 */
.input{
    width: 300px;
    height: 45px;
    margin: 3px;
    border-radius: 10px;
}
.Btn{
    width: 304px;
    height: 40px;
    border-radius: 5px;
    background-color: royalblue;
    color : white;
    font-size: 1rem;
    margin: 14px;
}
#login_btn{
    margin-top: 20px;
}
#join_btn{
    /* 폼태그 마진줄이는거로대체 */
    margin-top: -18px;
    margin-bottom:14px;
}
#find_btn_box{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#id_button{
    width: 49%;
    background-color: royalblue;
    border-radius: 5px;
    color : white;
    height:40px;
}
#pw_button{
    width: 49%;
    background-color: royalblue;
    border-radius: 5px;
    color : white;
    height: 40px;
}
form{
    margin: 18px;
}
