
/* 헤더 */
/* 네비게이션 */

/* 메인 */
#arrow_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
.icon_arrow{
    width: 50px;
    height: 50px;
}
.icon_arrow:hover{
    cursor: pointer;
}
.icon_arrow:active{
    transform: translate(1px,1px);
}

#month_btn_box{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.month_btn{
    /* text-size-adjust: auto; */
    font-size: 1.25rem;
    font-weight: 700;
    width: 200px;
    height: 80px;
    box-sizing: border-box; 
    /* 여백,테두리가 요소 전체의 크기에 영향을 미치지 않는다, content-box(여백,테두리가 크기에 추가됨)가 기본값. */
    background-color: royalblue;
    color: white;
    border: 0;
    margin: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.name_month{
    height: 48%;
    /* border: black solid 2px; */
}
.checked{
    display: block;
}

/* 달력내부 */
#calender{
    padding: 0;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
    border: royalblue solid 3px;
}
#owner_calender{
    font-weight: 600;
    font-size: 1.5rem;
    color: royalblue;
    margin-bottom: auto;
    margin-top: auto;
}
.tdTag{
    margin:0;
    padding:0;
    border:0;
}
.dayBtn{
    margin:0;
    padding:0;
    box-sizing:border-box;
    width:100%;
    height:100%;
    background-color:white;
    color:royalBlue;
    font-weight:950;
    font-size:1.75rem;
    vertical-align:top;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    border: solid grey 0.5px;
}
.scheduleLine{
    background-color:  royalBlue;
    width : 100%;
    height : 30%;
    color : white;
    margin-top : 10px;
    font-size : 1.5rem;
    display : flex;
    flex-Direction : column;
    justify-content : center;
}




